<ul>
  <%= simple_form_for @item do |f| %>
    <li><%= f.input :name %></li>
    <li><%= f.input :price %></li>
    <%#<%= f.options_for_select([['Real', 1], ['Unreal', 2]]) %>
    <li><%= f.input :weight %></li>
    <li><%= f.input :description %></li>
    <li><%= f.submit "Create", class: "btn-primary" %></li>
  <% end %>
</ul>