  <ul>
    <li><%= @item.name %></li>
    <li><%= @item.price %></li>
    <li><%= @item.weight %></li>
    <li><%= @item.description %></li>
    <li>______________________________</li>
    <%= link_to "Go Back", items_path %> |
    <%= link_to "Edit #{@item.name}", edit_item_path %> |
    <%= link_to "Delete", item_path, method: :delete %>
  </ul>